@model IEnumerable<sistemaDivtech.ViewModels.FornecedorCreateViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>FORNECEDORES CADASTRADOS</title>
    <style>
        body {
            font-family: Poppins, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .client-details {
            margin: auto;
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="client-details">
    <h1>Lista de Fornecedores</h1>
    @if(!string.IsNullOrEmpty((String)TempData["mensagemSucesso"]))
    {
    <div class="alert alert-warning" role="alert">@TempData["mensagemSucesso"]</div>
    }

    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id do Fornecedor</th>
                <th>Nome</th>
                <th>CNPJ</th>
                <th>Segmento</th>
                <th>CEP</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fornecedor in Model)
            {
                <tr>
                    <td>@fornecedor.FornecedorId</td>
                    <td>@fornecedor.FornecedorNome</td>
                    <td>@fornecedor.Cnpj</td>
                    <td>@fornecedor.SegmentoSelecionado</td>
                    <td>@fornecedor.Cep</td>
                    <td>@fornecedor.Endereco</td>
                    <td>
                        <a asp-action="Edit" asp-controller="Fornecedor" asp-route-id="@fornecedor.FornecedorId">Editar</a> |
                        <a asp-action="Delete" asp-controller="Fornecedor" asp-route-id="@fornecedor.FornecedorId">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <a asp-action="Create" asp-controller="Fornecedor" class="btn btn-dark">+ Novo Fornecedor</a>
    </div>
</body>
</html>
